{% extends 'base_admin.html.twig' %}

{% block title %}Edit Company{% endblock %}

{% block body %}
    <h1 class="text-center text-6xl font-normal leading-normal mt-0 mb-2">Edit Company</h1>

    {{ include('admin/company/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_company_index') }}" class="underline text-blue-500"><i class="fas fa-arrow-left"></i> Retour</a>

    {{ include('admin/company/_delete_form.html.twig') }}
{% endblock %}
