{% extends 'base_admin.html.twig' %}

{% block title %}New Company{% endblock %}

{% block body %}
    <h1 class="text-center text-6xl font-normal leading-normal mt-0 mb-2">Create new Company</h1>

    {{ include('admin/company/_form.html.twig') }}

    <a href="{{ path('admin_company_index') }}" class="underline text-blue-500"><i class="fas fa-arrow-left"></i> Retour</a>
{% endblock %}
