<form method="post" action="{{ path('front_forum_thread_delete', {'id': forum_thread.id}) }}" onsubmit="return confirm('Are you sure you want to delete this thread ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ forum_thread.id) }}">
    <button class="text-white mr-3 text-lg">
        <i class="fas fa-trash-alt text-eden"></i>
    </button>
</form>
