{% extends 'base.html.twig' %}

{% block title %}Edit ForumThread{% endblock %}

{% block body %}
    <h1>Edit ForumThread</h1>

    {{ include('front/forum_thread/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('front_forum') }}">back to list</a>

    {{ include('front/forum_thread/_delete_form.html.twig') }}
{% endblock %}
