{% extends 'base.html.twig' %}

{% block title %}Traaavl - New thread{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
<section id="new_thread">
    <div class="mb-10 flex items-center">
        <h1 class="text-4xl font-bold text-eden">Create new thread</h1>

        <a href="{{ path('front_forum') }}">
            <button class="principal_btn bg-carnation">
                Back to list
            </button>
        </a>
    </div>

    {{ include('front/forum_thread/_form.html.twig') }}
</section>
{% endblock %}
