@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    font-family: Poppins;
}

body {
    width: 100vw;
    background-image: url('../../public/images/background.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top;

    @media (min-width: 1300px) {
        background-size: cover;
    }

    .spectral {
        font-family: Spectral;
    }

    h1 {
        font-size: 4rem;
    }

    form {
        height: 65px;

        button {
            width: 65px;
        }
    }
}