{% extends 'base.html.twig' %}

{% block title %}Traaavl{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('build/app/page/home.css')}}"/>
{% endblock %}

{% block body %}

<div id="home" class="container">
    <div id="upper" class="flex">
        <div class="w-1/2 p-20">
            <img src="/images/traveling_woman.svg" alt="traveling woman">
        </div>
        <div id="description" class="w-1/2 py-20">
            <h1>Life is short and the world is wide!</h1>
            <p>To get the best of your adventure you just need to leave and go where you like. We are waiting for you.</p>
            <form action="/roadtrip" method="POST" class="mt-10 inline-block justify-center">
                <div id="group-input" class="flex items-center">
                    <div class="text-left mr-4">
                        <label for="departure" class="hidden">From</label>
                        <input id="departure" name="departure" type="text" placeholder="City of departure" />
                    </div>
                    <p class="m-auto">-></p>
                    <div class="text-left ml-4">
                        <label for="arrival" class="hidden">To</label>
                        <input id="arrival" name="arrival" type="text" placeholder="City of arrival" />
                    </div>
                </div>
                <button type="submit">
                    Plan a trip >
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
