{% extends 'base.html.twig' %}

{% block title %}Traaavl{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('build/app/page/home.css')}}"/>
{% endblock %}

{% block body %}

<div id="home" class="container">
    <div class="text-center text-eden mt-24">
        <h1 class="spectral">In <span class="font-bold spectral">pursuit</span> of new adventure</h1>
        <h2 class="text-2xl">Find the best places to discover</h2>

        <form action="/generator" method="POST" class="flex justify-center mt-20">
            <div class="bg-white rounded-md flex items-center px-8">
                <div class="text-left mx-4">
                    <label for="departure" class="font-medium text-black block text-md">From</label>
                    <input id="departure" name="departure" type="text" class="text-silver text-md w-52 outline-none" placeholder="City of departure" />
                </div>
                <div class="h-11 border-l-2 border-eden"></div>
                <div class="text-left mx-4">
                    <label for="arrival" class="font-medium text-black block text-md">To</label>
                    <input id="arrival" name="arrival" type="text" class="text-silver text-md w-52 outline-none" placeholder="City of arrival" />
                </div>
            </div>
            <button class="rounded-md bg-gradient-to-r from-burn-sienna to-grenadier ml-2 flex justify-center items-center" type="submit">
                <img src="images/icons/search.svg" alt="search" draggable=false/>
            </button>
        </form>
    </div>
</div>
{% endblock %}
