{% extends 'base.html.twig' %}

{% block title %}LMDVoyages{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/pages/home.css')}}"/>
{% endblock %}

{% block body %}

<div id="home">
    <h1><i class="fas fa-route"></i> Planifiez votre road trip</h1>

    <p>
        Vous souhaitez partir en road trip ? Laissez-nous organiser votre voyage de rêve pour vous !<br/>
        <br/>
        Envie de manger dans un resto chic, s'arrêtez dans un hôtel traditionnel, ou de passer par des parcs naturels ? Saisissez tout dans notre générateur et on s'occupe de tout :)<br/>
        <br/>
    </p>

    <a class="btn" href="/generator">Générer mon road trip</a>
</div>
{% endblock %}
