{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('build/app/page/forum.css')}}"/>
{% endblock %}

{% block body %}
<section id="edit_answer">

    <a href="{{ path('front_forum_thread_show', {'id': forum_thread_answer.forumThread.id}) }}" class="inline-block mb-5 ml-1 hover-underline">&lt;&lt; Back to thread</a>

    <h1 class="text-4xl font-bold text-eden">Edit answer</h1>

    {{ include('front/forum_thread_answer/_form.html.twig', {'button_label': 'Edit'}) }}
</section>
{% endblock %}
