{% form_theme form "admin/layout/tailwind_2_layout.html.twig" %}

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="button-green">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
