{% form_theme form "admin/layout/tailwind_2_layout.html.twig" %}

<div class="form_container">

{{ form_start(form) }}
	{{ include('admin/layout/_form.html.twig', {entity: activity}) }}
    <button class="button-green">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

</div>
