{% extends 'base_admin.html.twig' %}

{% block title %}Activity{% endblock %}

{% block body %}
    <a href="{{ path('admin_activity_index') }}" class="underline text-blue-500"><i class="fas fa-arrow-left"></i> Retour</a>
    
    {{ include('admin/layout/show.html.twig', {
        title: 'Activity',
        entity: activity,
        label : ["Nom", "Description", "Url", "Adresse", "Téléphone", "Longitude", "Latitude", "Menu", "Company", "Categories"],
        fields : ["name", "description", "reservationUrl", "address", "phone", "longitude", "latitude", "menu", "company", "categories"],
        edit: 'admin_activity_edit'
    }) }}

    {{ include('admin/activity/_delete_form.html.twig') }}
{% endblock %}
