<form method="post" action="{{ path('admin_road_trip_delete', {'id': road_trip.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ road_trip.id) }}">
    <button class="button-red">Delete</button>
</form>
