{% extends 'base.html.twig' %}

{% block title %}New RoadTrip{% endblock %}

{% block body %}
    <h1>Create new RoadTrip</h1>

    {{ include('road_trip/_form.html.twig') }}

    <a href="{{ path('road_trip_index') }}">back to list</a>
{% endblock %}
