/* IMPORTS */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "modules/header";
@import "pages/home";
@import "pages/generator";
@import "pages/forum";

@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


/* CSS */

body {
    font-family: Roboto, serif;

    h1 {
        font-size: 4rem;
    }

    #generator {
        height: 65px;

        button {
            width: 65px;
        }
    }
}

/* BOUTONS */

.btn {
    padding: 15px 40px;
    border-radius: 50px;
    text-decoration: none;
}