{% extends 'base.html.twig' %}

{% block title %}New ForumThread{% endblock %}

{% block body %}
    <h1>Create new ForumThread</h1>

    {{ include('admin_admin/forum_thread/_form.html.twig') }}

    <a href="{{ path('admin_forum_thread_index') }}">back to list</a>
{% endblock %}
