{% do form.name.setRendered %}
{% do form.type.setRendered %}
{% do form.url.setRendered %}

<div class="form_container">
	{{ form_start(form) }}
	
	{{ include('admin/layout/_form.html.twig', {entity: category}) }}
	<button class="button-green">{{ button_label|default('Save') }}</button>
	{{ form_end(form) }}
</div>
