body {
  background-image: url('../../../public/images/background.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top;
}

/* MEDIA QUERIES */

@media screen and (min-width: 1300px) {
  body {
    background-size: cover;
  }
}