{% extends 'base_admin.html.twig' %}

{% block title %}Edit ForumThreadAnswer{% endblock %}

{% block body %}
    <h1 class="text-center text-6xl font-normal leading-normal mt-0 mb-2">Edit ForumThreadAnswer</h1>

    {{ include('admin/forum_thread_answer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_forum_thread_answer_index') }}" class="underline text-blue-500"><i class="fas fa-arrow-left"></i> Retour</a>

    {{ include('admin/forum_thread_answer/_delete_form.html.twig') }}
{% endblock %}
