{% extends 'base_admin.html.twig' %}

{% block title %}New ForumThreadAnswer{% endblock %}

{% block body %}
    <h1>Create new ForumThreadAnswer</h1>

    {{ include('admin/forum_thread_answer/_form.html.twig') }}

    <a href="{{ path('admin_forum_thread_answer_index') }}">back to list</a>
{% endblock %}
