{% extends 'base.html.twig' %}

{% block title %}Nouveau sujet{% endblock %}

{% block body %}
    <h1>Nouveau sujet</h1>

    {{ form_start(form) }}
        {{ form_rest(form) }}
        <button type="submit" class="btn">Créer</button>
    {{ form_end(form) }}
{% endblock %}
