<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}LMDVoyages{% endblock %}</title>
        <link rel="stylesheet" href="{{asset('build/app.css')}}"/>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header class="container grid grid-cols-3 items-center mt-10">
            <a href="/" alt="home">
                <p class="text-5xl font-bold spectral">Traaavl.</p>
            </a>
            <div class="flex justify-center font-medium text-lg mt-1">
                <a href="/" class="text-eden border-b border-black cursor-pointer">
                    <p>Home</p>
                </a>
                <a href="/forum" class="hover:text-eden cursor-pointer ml-12">
                    <p>Forum</p>
                </a>
                {% if is_granted('ROLE_COMPANY') %}
                    <a href="{{ path('front_app_activity_index')}}" class="hover:text-eden cursor-pointer ml-12">
                        <p>My activities</p>
                    </a>
                {% endif %}
            </div>
            {% if app.user %}
                <div class="flex justify-end">
                    <a href="/logout" class="justify-end font-medium flex items-center text-lg hover:text-eden cursor-pointer">
                        <img src="/images/icons/user.svg" alt="user" draggable=false />
                        <p class="mt-1 ml-2">Logout</p>
                    </a>
                </div>
            {% else %}
                <div class="flex justify-end">
                    <a href="/login" class="justify-end font-medium flex items-center text-lg mr-12 hover:text-eden cursor-pointer">
                        <p class="mt-1">Login</p>
                    </a>
                    <a href="/register" class="justify-end font-medium flex items-center text-lg hover:text-eden cursor-pointer">
                        <p class="mt-1">Register</p>
                    </a>
                </div>
            {% endif %}
        </header>

        {% block body %}{% endblock %}
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}

        <script src="https://kit.fontawesome.com/fde258db28.js" crossorigin="anonymous"></script>
    </body>
</html>
