<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}LMDVoyages{% endblock %}</title>
        <link rel="stylesheet" href="{{asset('css/app.css')}}"/>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav>
            <a href="/">Générateur</a>
            <a href="/forum">Forum</a>
            <a href="/connexion">Se connecter</a>
        </nav>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        <script src="https://kit.fontawesome.com/fde258db28.js" crossorigin="anonymous"></script>
    </body>
</html>
