<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ encore_entry_link_tags('admin') }}
    {% block styles %}
    {% endblock %}

    <title>
        {% block title %}Traaavl.{% endblock %}</title>
</head>
<body class="flex">
<nav class="fixed">
    {% include "admin/layout/nav.html.twig" %}
</nav>
<section class="flex flex-col w-full pl-60">
    <header class="w-full">
        {% include "admin/layout/header.html.twig" %}
    </header>
    <main class="w-full p-4 h-full min-h-full">
        {% block body %}
        {% endblock %}
    </main>
</section>
</body>
{{ encore_entry_script_tags('admin') }}

{% block javascripts %}
{% endblock %}
</html>